
@media (min-width: 300px) { 
    .section-banner .text-contnet h1 {
        font-size: 38px;    
    }
    .section-banner .text-contnet p {
        font-size: 10.5px;
        font-weight: 500;
        opacity: 0.6;
        padding: 15px 0;
    }
    .section-banner .text-contnet{
        text-align: center;
    }
    .section-banner .img-content img{
        width: 100%;
        height: 100%;
        margin-left: -0px;
        margin-top: 30px;
    }
    ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    }
    /* ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    } */
    .section-about .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-about .text-content {
        margin-left: px;
        margin-top: 30px;
        text-align: center;
    }
    .section-about .text-content p{
        font-size: 11px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 15px;
        margin-top: 11px;
    }
    .section-sponsor img{
        width: 40%;
        height: 40%;
        margin: 15px 10px;
    }
    .navbar button{
        display: block;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) { 
    .section-banner .text-contnet h1 {
        font-size: 45px;    
    }
    .section-banner .text-contnet p {
        font-size: 12px;
        font-weight: 500;
        opacity: 0.6;
        padding: 15px 0;
    }
    .section-banner .text-contnet{
        text-align: center;
    }
    .section-banner .img-content img{
        width: 110%;
        height: 110%;
        margin-left: -0px;
        margin-top: 30px;
    }
    ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    }
    /* ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    } */
    .section-about .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-about .text-content {
        margin-left: px;
        margin-top: 30px;
        text-align: center;
    }
    .section-about .text-content p{
        font-size: 13px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 15px;
        margin-top: 11px;
    }
    .section-sponsor img{
        width: 35%;
        height: 35%;
        margin: 15px 10px;
    }
    .navbar button{
        display: block;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-banner .text-contnet h1 {
        font-size: 50px;    
    }
    .section-banner .text-contnet p {
        font-size: 13px;
        font-weight: 500;
        opacity: 0.6;
        padding: 15px 0;
    }
    .section-banner .text-contnet{
        text-align: center;
    }
    .section-banner .img-content img{
        width: 110%;
        height: 110%;
        margin-left: -0px;
        margin-top: 30px;
    }
    ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    }
    /* ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    } */
    .section-about .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-about .text-content {
        margin-left: px;
        margin-top: 30px;
        text-align: center;
    }
    .section-about .text-content p{
        font-size: 13px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 15px;
        margin-top: 11px;
    }
    .section-sponsor img{
        width: 35%;
        height: 35%;
        margin: 10px;
    }
    .navbar button{
        display: block;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .section-banner .text-contnet h1 {
        font-size: 50px;    
    }
    .section-banner .text-contnet p {
        font-size: 13px;
        font-weight: 500;
        opacity: 0.6;
        padding: 15px 0;
    }
    .section-banner .text-contnet{
        text-align: center;
    }
    .section-banner .img-content img{
        width: 110%;
        height: 110%;
        margin-left: -0px;
        margin-top: 30px;
    }
    ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    }
    /* ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: none;
    } */
    .section-about .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-about .text-content {
        margin-left: px;
        margin-top: 30px;
        text-align: center;
    }
    .section-about .text-content p{
        font-size: 13px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 15px;
        margin-top: 11px;
    }
    .section-sponsor img{
        width: 19%;
        height: 19%;
        margin: 15px;
    }
    .navbar button{
        display: block;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .section-banner .text-contnet h1 {
        font-size: 50px;    
    }
    .section-banner .text-contnet p {
        font-size: 13px;
        font-weight: 500;
        opacity: 0.6;
        padding: 15px 0;
    }
    .section-banner .img-content img{
        width: 140%;
        height: 140%;
        margin-left: -150px;
        margin-top: -30px;
    }
    .section-banner .text-contnet{
        text-align: left;
    }
    .navbar ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: block;
    }
    /* .navbar ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: block;
    } */
    .section-about .img-content img{
        width: 130%;
        height: 360px;
    }
    .section-about .text-content {
        margin-left: 140px;
        margin-top: 30px;
        text-align: left;
    }
    .section-about .text-content p{
        font-size: 13px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 0;
        margin-top: 0;
    }
    .section-sponsor img{
        width: 15%;
        height: 15%;
        margin: 15px;
    }
    .navbar button{
        display: none;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .section-banner .text-contnet h1 {
        font-size: 55px;
        font-weight: 700;    
    }
    .section-banner .text-contnet p {
        font-size: 15px;
        font-weight: 500;
        opacity: 0.6;
        padding: 20px 0;
    }
    .section-banner .img-content img{
        width: 140%;
        height: 140%;
        margin-left: -240px;
        margin-top: -30px;
    }
    .section-banner .text-contnet{
        text-align: left;
    }
    .navbar ul li a:hover::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: block;
    }
    /* .navbar ul li .active::after{
        content: '';
        border-bottom: 3px solid #08b427 !important;
        padding-bottom: 5px;
        margin-bottom: -8px;
        display: block;
    } */
    .section-about .img-content img{
        width: 110%;
        height: 110%;
        border-radius: 10px;
    }
    .section-about .text-content {
        margin-left: 80px;
        margin-top: 50px;
        text-align: left;
    }
    .section-about .text-content p{
        font-size: 15px;
        font-weight: 500;
        opacity: 0.7;
        padding: 20px 0;
    }
    .navbar .cart i{
        margin-left: 0;
        margin-top: 0;
    }
    .section-sponsor img{
        width: 15%;
        height: 15%;
        margin: 15px;
    }
    .navbar button{
        display: none;
    }
 }
 .bg-top{
    padding: 20px;
 }

 